@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  background-color: rgb(46, 47, 70);
  transition: 0.5s;
}
.navbar {
  background-color: black;
  border-radius: 5px;
  font-size: 1em;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: white;
  transition: 0.5s;
}
ul li {
  margin: 2vw;
  transition: 0.5s;
  padding: 2vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.2vw;
}
ul li a {
  text-decoration: none;
  color: inherit;
}
ul li:hover {
  background-color: white;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
.channelLink {
  display: inline-block;
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  */
  text-align: center;
  width: 20vw;
  height: 30vh;
  border: solid rgb(42, 45, 87) 2px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 2px 1px rgb(46, 47, 70);
  font-size: 2.2vw;
  transition: 0.5s;
}
.channelLink:hover {
  padding: 1vw;
}
.channelLink a {
  position: relative;
  top: 25%;
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  transition: 0.5s;
}
.channelLink a:hover {
  text-shadow: 5px 5px rgb(39, 39, 39);
  color: inherit;
}
.bottomFooter {
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 10em;
  text-align: center;
  padding-top: 5em;
  font-family: 'Poppins', sans-serif;
  /* margin: 2vw; */
  transition: 0.5s;
  width: 100%;
  font-size: 2vw;
}
.channels {
  margin: 1vw;
}
.channels h1 {
  text-align: center;
  color: rgb(219, 22, 22);
  text-shadow: rgb(219, 22, 22) 1px 0 2px;
  font-family: 'Open Sans', sans-serif;
}
.storys h1 {
  text-align: center;
  color: rgb(211, 210, 210);
  text-shadow: rgb(211, 210, 210) 1px 0 2x;
  font-family: 'Open Sans', sans-serif;
}
.videos h1 {
  text-align: center;
  color: rgb(255, 162, 162);
  text-shadow: rgb(255, 162, 162) 1px 0 2px;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
}
@keyframes waitbigger {
  0% {font-size: 2.6em}
  50% {font-size: 2.5em}
}
h1:hover {
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-name: waitbigger;
}
.bottomFooter p {
  transition: 0.5s;
}
#glocate {
  background: #15f700;
  padding: 1vw;
  border-radius: 5px;
  border: solid green 4px;
  color: rgb(24, 139, 34);
  transition: 0.5s;
}
#glocate:hover {
  background: #18db06;
  padding: 1.5vw;
  cursor: pointer;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 26, 36);
}
.location select {
  margin: 2vw;
  border-radius: 5px;
  padding: 0.8vw;
  font-family: 'Noto Sans', sans-serif;
}
.location button {
  margin: 2vw;
}
.location p {
  color: white;
  font-family: 'Noto Sans', sans-serif;
}
.subject {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
.subject select {
  margin: 2vw;
  border-radius: 5px;
  padding: 0.8vw;
  font-family: 'Noto Sans', sans-serif;
}
.bottomFooter i {
  font-size: 4vw;
  margin-left: 1vw;
  margin-right: 1vw;
  transition: 0.5s;
}
.bottomFooter i:hover {
  transform: rotate(180deg);
}
.navbar ul li i {
  margin-left: 1vw;
}